html
{
    height: 100%;  
}
body
{
    height: 100%;   
    display: flex;
    flex-direction: column;
    background-color: rgba(218, 218, 213, 0.479);
}
footer{
    margin-top: auto;
    background-color: aqua;
}
.form
{
    margin-top: 4rem;
    box-shadow: 10px 10px 20px 10px  rgba(14, 173, 141, 0.05),
    10px 10px 10px 10px rgba(87, 85, 83, 0.5);   
    background-color: #fff;
}
.mar
{
    margin-top: 3rem;
}
.border-b :hover
{
    border-bottom: 4px solid blue;
}
.tex{
    font-size: 0.8rem;
}
.tex-1{
    font-size: 1rem;
}
h4{
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 1.9rem;

}

.heading
{
    font-size: .7em;
}
.but
{
    width: 100%;
}
.bol
{
    font-size: 1rem;
}
.front-style
{
    font-size: 1rem;
    color: black;
    font-weight: 500;
}
.front-style-heading
{
    font-size: 1.5em;
    color: black;
    font-weight: 500;
}
span
{
    font-size: 1em;
    color: black;
    font-weight: 500;
}